          <div class="content-wrap">
            <h2 class="part-of-title" jg="gradient" jg:gradient="from:'c4bfac', to:'ffffff', direction:'vertical', length:100, position: 'right'">総合評価</h2>
            <div style="overflow:hidden;">
              <ul>
                <% num = 0  -%>
                <% general_ranks.each do |ranking| -%>
                  <% num += 1 -%>
                  <li>
                    <div class="general-rank-part">
                      <div>第<%= num %>位 (<%=h ranking.point %> point)</div>
                      <h3 class="gem-name"><%= link_to(sanitize(ranking.rubygem.name), rubygem_path(ranking.rubygem), {:title => ranking.rubygem.name}).untaint %></h3>
                    </div>
                  </li>
                <% end -%>
              </ul>
            </div>
          </div>
