        <div id="content-1">
          <%= render :partial => "share/general" %>
        </div>
        <div id="content-2">
          <div class="content-wrap">
              <div class="content-area">
                <% if logged_in? -%>
                <h2>転んでも泣かない…</h2>
                <% else -%>
                <h2>ログインすると幸せになれるかも知れません…</h2>
                <% end -%>
              </div>
              <% if @newgems.size > 0  -%>
              <div class="content-area header-wrapper">
              	<div class="content-header">
               	  <h3>新着Gems</h3>
               	  <hr>
               	  <div class="sub-header">New gems</div>
                </div>
                <div class="list-wrapper">
                  <ol>
                    <%= render :partial => "share/gem", :collection => @newgems %>
                  </ol>
                </div><!-- end of list-wrapper -->
              </div><!-- end of content-area -->
              <% end -%>
              <% if @gemcasts.size > 0  -%>
              <div class="content-area header-wrapper">
              	<div class="content-header">
               	  <h3>新着GemCasts</h3>
               	  <hr>
               	  <div class="sub-header">New video tutorials</div>
                </div>
                <div class="list-wrapper">
                  <ol>
                    <%= render :partial => "share/gemcast", :collection => @gemcasts %>
                  </ol>
                </div><!-- end of list-wrapper -->
              </div><!-- end of con tent-area-->
              <% end -%>
              <% if @unchikus.size > 0  -%>
              <div class="content-area header-wrapper">
              	<div class="content-header">
               	  <h3>新着うんちく</h3>
               	  <hr>
               	  <div class="sub-header">New comments</div>
                </div>
                <div class="list-wrapper">
                  <ol>
                    <%= render :partial => "share/unchiku", :collection => @unchikus %>
                  </ol>
                </div><!-- end of list-wrapper -->
              </div><!-- end of content-area -->
              <% end -%>
          </div><!-- end of content-wrap -->
        </div>
